In [19]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

response = requests.get('https://btech-data-analytics.github.io/bridgerland-technical-college/employees_3.html').text
soup = BeautifulSoup(response, 'html.parser')

In [4]:
soup

<!DOCTYPE html>

<html>
<head>
<title>Employees Table</title>
<style>
        table {
            border-collapse: collapse;
            width: 50%;
            margin: 20px auto;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
        tr:nth-child(odd) {
            background-color: #ddd;
        }
        tr:nth-child(odd):hover {
            background-color: #ccc;
        }
        tr:nth-child(even):hover {
            background-color: #eee;
        }
        th {
            cursor: pointer;
            background-color: #222;
            color: #eee
        }
        th:hover {
            background-color: #333;
        }
        h1{
            text-align: center;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 80px;
            font-kerning: normal;
            color: #7d231f;

        }
        h2{
            text-align: center;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 60px;
            font-kerning: normal;
            color: #4e0c09;

        }
        p {
            font-family: 'Courier New', Courier, monospace;
            font-size: large;
        }
    </style>
</head>
<body>
<p>This page was created using HTML, CSS, and JavaScript. The HTML code provides the structure of the page, the CSS determines how each element should be formatted, and JavaScript determines how the user can interact with the web page. In this case, JavaScript allows users to click the column names of the table below to sort the data.</p>
<h1>Employees</h1>
<table id="data-table">
<thead>
<tr>
<th onclick="sortTable(0)">ID</th>
<th onclick="sortTable(1)">Name</th>
<th onclick="sortTable(2)">Age</th>
</tr>
</thead>
<tbody>
<tr class="employee">
<td>101</td>
<td>John Doe</td>
<td>28</td>
</tr>
<tr class="employee">
<td>102</td>
<td>Jane Smith</td>
<td>32</td>
</tr>
<tr class="employee">
<td>103</td>
<td>Robert Johnson</td>
<td>24</td>
</tr>
<tr class="employee">
<td>104</td>
<td>Mary Johnson</td>
<td>29</td>
</tr>
<tr class="employee">
<td>105</td>
<td>Michael Brown</td>
<td>35</td>
</tr>
<tr class="employee">
<td>106</td>
<td>Susan Davis</td>
<td>27</td>
</tr>
<tr class="employee">
<td>107</td>
<td>David Wilson</td>
<td>31</td>
</tr>
<tr class="employee">
<td>108</td>
<td>Linda Miller</td>
<td>33</td>
</tr>
</tbody>
</table>
<h2>Why it's important</h2>
<p>As you might be able to see, the actual data of this web page is stored in the HTML code. Both CSS and JavaScript have nothing to do with the actual data itself, but mostly just make the page look and work better. Thus, for web scraping the data from this page, only a knowledge of HTML is required.</p>
<p>However, more modern websites don't always deliver the data in nice HTML tables. CSS is often used as a locator to locate the data inside of a particular table. Furthermore, more and more websites nowadays deliver empty HTML pages that are later populated with JavaScript processes to stop others from web scraping their sites. These issues are important to know about when performing web scraping.</p>
<script>
        function sortTable(column) {
            var table, rows, switching, i, x, y, shouldSwitch;
            table = document.getElementById("data-table");
            switching = true;

            while (switching) {
                switching = false;
                rows = table.rows;

                for (i = 1; i < (rows.length - 1); i++) {
                    shouldSwitch = false;
                    x = rows[i].getElementsByTagName("td")[column];
                    y = rows[i + 1].getElementsByTagName("td")[column];

                    if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                        shouldSwitch = true;
                        break;
                    }
                }

                if (shouldSwitch) {
                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                    switching = true;
                }
            }
        }
    </script>
</body>
</html>

In [33]:
employees = soup.find_all('tr', class_ = 'employee')

In [31]:
id = []
name = []
age = []

for employee in employees:
    row = employee.find_all('td')
    
    id.append(row[0].text)
    name.append(row[1].text)
    age.append(row[2].text)
    
employee_dict = {
    'ID': id,
    'Name': name,
    'Age': age
}

df = pd.DataFrame(employee_dict)

df.head()

    ID            Name Age
0  101        John Doe  28
1  102      Jane Smith  32
2  103  Robert Johnson  24
3  104    Mary Johnson  29
4  105   Michael Brown  35

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      8 non-null      object
 1   Name    8 non-null      object
 2   Age     8 non-null      object
dtypes: object(3)
memory usage: 320.0+ bytes

In [40]:
df['Age'] = df['Age'].astype(int)
df['Age'].mean()

29.875

In [41]:
df['Age'].std()

3.563204817496262